.bodyText {
  line-height: 30px;
  text-align: justify;
  margin: 0 20px;

  .language {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;

    .languageName {
      text-transform: uppercase;
      margin: 15px 0;
      white-space: nowrap;
    }

    .proficiency {
      display: flex;
      padding-left: 20px;
      width: 100%;
    }
  }
}

.catImages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .catImage {
    max-height: 280px;
    width: auto;
    margin: 10px;
  }
}

.image {
  max-width: 550px;
  height: auto;
  margin: 20px;
}

.portrait {
  width: 150px;
  height: auto;
  border-radius: 50%;
  float: right;
  margin: 5px 10px 0 50px;
}

.image-container {
  display: flex;
  justify-content: center;

  .image-mobile {
    max-height: 400px;
    width: auto;
    margin: 20px;
    align-self: center;
  }
}

.caption {
  font-size: 12px;
  margin: 0 20px;
  text-align: center;
}
