.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .xplorGif {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    margin: 20px;
    border: 2px solid #003660;
    padding: 5px;

    .feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      justify-content: flex-start;

      .header {
        font-size: 20px;
        font-weight: bold;
        margin: 10px
      }
    }
  }
}

.bodyText {
  line-height: 30px;
  text-align: justify;
  margin: 0 20px;

  .language {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;

    .languageName {
      display: flex;
      text-transform: uppercase;
      margin: 15px 0;
      white-space: nowrap;
      width: 20%;
      justify-content: flex-start;
    }

    .proficiency {
      display: flex;
      padding-left: 20px;
      width: 80%;
      justify-content: flex-start;
    }
  }
}

.catImages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .catImage {
    max-height: 280px;
    width: auto;
    margin: 10px;
  }
}

.image {
  max-width: 550px;
  height: auto;
  margin: 20px;
}

.gif {
  height: 400px;
  width: auto;
}

.portrait {
  display: inline-block;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  float: right;
  margin: 5px 10px 0 30px;

  .portrait-image {
    display: inline;
    border-radius: 50%;
    height: 95%;
    width: 95%;
    padding: 2px;
    border: 2px solid #003660;
  }
}

.image-container {
  display: flex;
  justify-content: center;

  .image-mobile {
    max-height: 400px;
    width: auto;
    margin: 20px;
    align-self: center;
  }
}

.caption {
  font-size: 12px;
  margin: 0 20px;
  text-align: center;
}
